<footer>
    <div class="f-info">
        <div class="f-socials">
            <a href="https://www.facebook.com/suvadip.sana.7" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://x.com/SuvadipSana2" target="_blank"><i class="fa-brands fa-square-twitter"></i></a>
            <a href="https://github.com/Suvadip-sana" target="_blank"><i class="fa-brands fa-square-github"></i> </a>      
        </div>
        <div class="copy">&copy; 2024 Nestquest Private Ltd. <br>Designed by SUVADIP</div>
        <div class="f-links">
            <a href="/pricacy">Privacy</a>
            .<a href="/terms">Terms</a>
        </div>
    </div>
    
</footer>