<% layout("/layouts/boilerplate") %>


    <body>

        <div class="row">
            
            <div class="col col-lg-8 col-md-8 col-sm-10 cols-xs-10 offset-lg-2 offset-md-2 offset-sm-1 offset-sm-1">
                <h3 class="d-flex justify-content-center mt-5 mb-3 heading">Create New Listing</h3>

                <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                    <!-- Send all the data as Object (listing object) -->
                    <div class="mb-3">
                        <label for="title" class="form-label form-label-listings">Title</label>
                        <input type="text" name="listing[title]" id="" class="form-control" required>
                        <div class="invalid-feedback">Please add a title.</div>                        
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label form-label-listings">Description</label>
                        <textarea name="listing[description]" id="" cols="30" rows="5" class="form-control" required></textarea>
                        <div class="invalid-feedback">Please add a description.</div>

                    </div>
                    
                    <div class="mb-3">
                        <label for="image" class="form-label form-label-listings">Upload Listing Image</label>
                        <input type="file" name="listing[image]" id="" class="form-control" required>
                        <div class="form-text" id="basic-addon4">Upload image in .png, .jpg, .jpeg & .webp format.</div>
                        <div class="invalid-feedback">Please upload a image.</div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-3">
                            <label for="price" class="form-label form-label-listings">Price</label>
                            <input type="number" name="listing[price]" id="" class="form-control" required>
                            <div class="invalid-feedback">Please add a price.</div>

                        </div>
                        <div class="mb-3 col-md-5 position-relative">
                            <label for="location" class="form-label form-label-listings">Location</label>
                            <input type="text" name="listing[location]" id="" class="form-control" required>
                            <div class="form-text" id="basic-addon4">location must be precise, which will be plotted on map!</div>
                            <div class="invalid-feedback">Please enter a valid location.</div>

                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="country" class="form-label form-label-listings">Country</label>
                            <input type="text" name="listing[country]" id="" class="form-control" required>
                            <div class="invalid-feedback">please enter a valid country name.</div>

                        </div>
                    </div>
                    
                    <button class="btn btn-danger mb-5 mt-3">Add</button>
                </form>
            </div>
        </div>


    </body>